[package]
name = "sokoban-solver"
version = "0.1.0"
edition = "2024"

[dependencies]
ahash = "0.8.12"
rustc-hash = "2.1.1"
smallvec = "1.15.1"

[profile.release]
strip = true
lto = true
codegen-units = 1
panic = "abort"
split-debuginfo = "off"
